<main class="flex flex-1 items-center justify-center">
  <div class="w-full max-w-130  bg-white rounded-xl shadow-sm border border-slate-200  p-7 lg:p-10">
    <div class="mb-8">
      <h1 class="text-slate-900 text-3xl font-black  mb-2">Create Account</h1>
      <p class="text-slate-500 dark:text-slate-400 text-base">
        Join our community and start your shopping journey today.
      </p>
    </div>
    <form class="space-y-2" (ngSubmit)="register()">
      <!-- Email -->
      <div class="flex flex-col gap-3">
        <label class="text-slate-900  text-sm font-semibold">Email Address</label>
        <div class="relative">
          <i class=" absolute left-4 top-1/3 text-slate-400 pi pi-envelope"></i>
          <input
            class="form-input w-full rounded-lg border border-slate-200  bg-slate-50  h-12 pl-12 pr-4 text-slate-900  placeholder:text-slate-400"
            placeholder="name@example.com" type="email" required [ngModel]="email()" (ngModelChange)="email.set($event)"
            name="email" />
        </div>

        @if (emailError() ) {
        <div class="text-red-500 text-xs ">{{ emailError() }}</div>
        }
      </div>
      <!-- Password y Confirm Password -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="flex flex-col gap-2">
          <label class="text-slate-900  text-sm font-semibold">Password</label>
          <div class="relative flex items-center">
            <input
              class="form-input w-full rounded-lg border border-slate-200 bg-slate-50 h-12 px-4 text-slate-900  placeholder:text-slate-400"
              placeholder="••••••••" [type]="showPassword() ? 'text' : 'password'" required [ngModel]="password()"
              (ngModelChange)="password.set($event)" name="password" />
            <button class="absolute right-3 text-slate-400 hover:text-slate-600 dark:hover:text-slate-200" type="button"
              (click)="togglePassword()">
              <i class="pi" [ngClass]="showPassword() ? 'pi-eye-slash' : 'pi-eye'"></i>
            </button>
          </div>
          @if (passwordError() ) {
          <div class="text-red-500 text-xs mt-1">{{ passwordError() }}</div>
          }
        </div>
        <div class="flex flex-col gap-2">
          <label class="text-slate-900  text-sm font-semibold">Confirm Password</label>
          <div class="relative flex items-center">
            <input class="form-input w-full rounded-lg border" [ngClass]="{
                'border-emerald-500/50 bg-emerald-50/30 focus:border-emerald-500 focus:ring-emerald-500': passwordsMatch && confirmPasswordTouched,
                'border-red-500/50 bg-red-50/30 focus:border-red-500 focus:ring-red-500': !passwordsMatch && confirmPasswordTouched,
                'border-slate-200 bg-slate-50': !confirmPasswordTouched
              }" placeholder="••••••••" [type]="showConfirmPassword() ? 'text' : 'password'"
              [ngModel]="confirmPassword()" (ngModelChange)="confirmPassword.set($event)" name="confirmPassword" />
            <button class="absolute right-10 text-slate-400 hover:text-slate-600 dark:hover:text-slate-200"
              type="button" (click)="toggleConfirmPassword()">
              <i class="pi" [ngClass]="showConfirmPassword() ? 'pi-eye-slash' : 'pi-eye'"></i>
            </button>
            @if (confirmPasswordTouched) {
            <i class="pi absolute right-3 text-xl" [ngClass]="{
                  'pi-check-circle text-emerald-500': passwordsMatch,
                  'pi-times-circle text-red-500': !passwordsMatch
                }"></i>
            }
          </div>
          @if (error() && error() === 'Las contraseñas no coinciden') {
          <div class="text-red-500 text-xs mt-1">{{ error() }}</div>
          }
        </div>
      </div>
      <div class="flex items-start gap-3 py-2">
        <input class="mt-1 rounded border-slate-300 dark:border-slate-700 text-primary focus:ring-primary h-4 w-4"
          id="terms" type="checkbox" required />
        <label class="text-sm text-slate-600 " for="terms">
          I agree to the
          <a class="text-blue-600 font-semibold hover:underline" href="#">Terms of Service</a>
          and
          <a class="text-blue-600 font-semibold hover:underline" href="#">Privacy Policy</a>.
        </label>
      </div>
      <button
        class="w-full bg-blue-700 hover:bg-blue-900 text-white font-bold py-4 rounded-lg shadow-lg shadow-primary/20 transition-all transform active:scale-[0.98] flex items-center justify-center gap-2"
        type="submit">
        <span>Create My Account</span>
        <i class="pi pi-arrow-right"></i>
      </button>
      <!-- @if (success() ) {
      <div class="text-green-600 mt-2">{{ success() }}</div>
      } -->
    </form>
    <div class="mt-8 pt-6 border-t border-slate-300 ">
      <p class="text-center text-slate-500  text-sm mb-4">Or sign up with</p>
      <div class="grid grid-cols-2 gap-4">
        <button
          class="flex items-center justify-center gap-2 h-11 border border-slate-200 rounded-lg bg-white   hover:bg-blue-700  transition-colors">
          <i class="pi pi-google text-lg"></i>
          <span class="text-sm font-medium text-slate-700 ">Google</span>
        </button>
        <button
          class="flex items-center justify-center gap-2 h-11 border border-slate-200  rounded-lg bg-white hover:bg-blue-700  transition-colors">
          <i class="pi pi-facebook text-lg text-black"></i>
          <span class="text-sm font-medium text-black  ">Facebook</span>
        </button>
      </div>
    </div>
  </div>
</main>
